.card-header{
    background-image: url("images/akhan.png");
    padding: 300px;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.h1 h1{
    text-align: center;
    font-family: verdana;
    font-size: 90px;
    color: rgb(255, 251, 246);
    
}
a{
    font-size: 25px;
    text-align: center;
}
a:hover{
    text-decoration: none;
    color: rgb(212, 88, 16);
    cursor: cell;
}
.card-header li{
    align: center;
    display: inline;
    padding: 15px;
}
.container-yangu h1{
    font-size:30px;
}

 h1{
    color: rgb(0, 0, 0);
}
p{
    color: rgb(10, 2, 2);
    font-size: 20px;
}
.form-group p{
    text-align: center;
    font-size: 30px;
}
input#output{
    padding: 2px 110px 0;
    border: 0;

}